# Labelling the data
First, I am going to labell the data using one of my previous projects - ImageInspector. You can install it by running the following command ```!pip install git+git://github.com/JanMalinowski/image_inspector.git```

In [1]:
from image_inspector import ImageInspector
import os
import pandas as pd

In [2]:
# Listing all the dobble files with dobble cards images
imgs = os.listdir('../input/images/')
path = '../input/images/'

In [3]:
# List of all the objects appearning on the cards (There're 57 of them, wow!)

In [4]:
# Initializing the ImageInspector
ii = ImageInspector(imgs, path, categories, n_cols=5)

In [65]:
ii.iterator

218

In [5]:
# Labelling the data
ii()

AppLayout(children=(GridspecLayout(children=(ToggleButton(value=False, description='Anchor', layout=Layout(gri…

In [68]:
# Getting the dataframe with the results
results = ii.get_results()

In [69]:
results.head()

,Anchor,Apple,Baby bottle,Bomb,Cactus,Candle,Taxi car,Carrot,Chess knight,Clock,...,Tortoise,Treble clef,Tree,Water drip,Dog,Yin and Yang,Zebra,Question mark,Cheese,Image Name
0,False,False,False,False,False,False,False,False,False,False,...,False,True,True,False,False,True,True,False,False,IMG_20201022_013030.jpg
1,False,False,False,False,False,False,False,True,False,False,...,False,True,False,False,False,False,False,False,False,IMG_20201022_013434.jpg
2,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,IMG_20201022_011645.jpg
3,False,False,True,False,False,False,False,False,False,True,...,False,False,False,True,False,False,False,False,False,IMG_20201022_012859.jpg
4,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,True,True,False,False,True,IMG_20201022_014757.jpg

In [70]:
# Converting booleans to ints
results[categories] = results[categories].astype(int)
results.head()

,Anchor,Apple,Baby bottle,Bomb,Cactus,Candle,Taxi car,Carrot,Chess knight,Clock,...,Tortoise,Treble clef,Tree,Water drip,Dog,Yin and Yang,Zebra,Question mark,Cheese,Image Name
0,0,0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,1,1,0,0,IMG_20201022_013030.jpg
1,0,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,IMG_20201022_013434.jpg
2,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,IMG_20201022_011645.jpg
3,0,0,1,0,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,IMG_20201022_012859.jpg
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,1,0,0,1,IMG_20201022_014757.jpg

In [71]:
# Saving the dataframe to a pickle file. We're going to use this file later
# to finetune a neural network for a multiclass classification.
results.to_pickle('../input/multiclass_classification/data.pkl')

Having the pre-pre-trained neural network, we are going to train it to recognize elements, which are on two cards.
In order to do it, we need to create a dataset with pairs of images and the common object. The script ```create_dataset```, which does that requires us to give it a dataframe with two columns: images (containing images' names) and categories (containing list of objects appearing on a given card). We can create the dataframe using the code below.

In [72]:
cats = []
for index in results.index:
    temp = results.loc[index, categories].index[results.loc[index, categories]==1].tolist()
    cats.append(temp)

In [77]:
data_df = pd.DataFrame({'images': results['Image Name'], 'categories': cats})

In [78]:
# Saving the data for creating the dataset
data_df.to_pickle('../input/detecting_common_element/data.pkl')